{% extends "base.html" %}
{% block content %}
<style>
	body{
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	}

</style>
<h3 style="text-align: center; color: white">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
<body background ="http://www.wallpapers-web.com/data/out/47/4128844-cheshire-cat-wallpapers.png">
</body>
{% endblock %}
