 {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <style>
    @import url('https://fonts.googleapis.com/css?family=Anton|Russo+One');
    @import url('https://fonts.googleapis.com/css?family=Monoton');
        .portofolio{
          font-family: 'Monoton', cursive;
          font-size: 50px;
          text-align: center;
          top: 50px;
          left: 500px;
          position:absolute;
        }
        .lineHeader {
          height: 100px;
          border-style: solid;
          border-color: #8c8b8b;
          border-width: 3px 0 0 0;
          border-radius: 20px;
        }
        .lineHeader:before{
          display: block;
          content: "";
          height: 100px;
          margin-top: -101px;
          border-style: solid;
          border-color: #8c8b8b;
          border-width: 0 0 3px 0;
          border-radius: 20px;
        }
        .gambar{
          position:absolute;
          left:380px;
          bottom: 30px;
        }
        .sapa{
          font-family: 'Russo One', sans-serif;
          font-size: 30px;
          left: 550px;
          bottom:-60px;
          position: absolute;

        }
        .tentang-bintang{
          font-family: 'Russo One', sans-serif;
          font-size: 10px;
          left:200px;
          bottom: -350px;
          position: absolute;
          width: 300px;
        }
        .MainBio{
          font-family: 'Russo One', sans-serif;
          font-size: 14px;
          font-style: oblique;
          width: 300px;
          left: 900px;
          bottom: -340px;
          position: absolute;
        }
        .List{
          font-family: 'Russo One', sans-serif;
          font-size: 20px;
          font-style: oblique;
          width: 300px;
          left: 200px;
          bottom: -650px;
          position: absolute;
        }
        .MainForm{
          font-family: 'Russo One', sans-serif;
          font-size: :20px;
          width: 300px;
          left: 900px;
          bottom: -900px;
          position: absolute;
        }
        .Body{

          background-color: #33ffad;

        }
    </style>
    <body class = "Body">
        <h1 class="portofolio">Portofolio</h1>
        <br>
        <br>
        <hr class = "lineHeader">
        <div class = "Bintang">
      		<img class = "gambar" src="http://i68.tinypic.com/2iqbcp2.jpg" alt = "Bintang" style="height: 450px;
          	width: 600px;
          	border-radius: 100%;">
          </div>
          <h2 class = sapa> Halo, Gua Bintang !</h2>
      			<div class = "tentang-bintang">
        				<h2> Deskripsi Diri</h2>
        				<h4> Bintang, SI 2016. Tipikal orang yang senang mempelajari hal baru. Menanggap semua perjalanan dalam kehidupan sebagai hal yang sangat menyenangkan. Menjalani hidup dengan ringan, sunyi dan lepas. Ya, layaknya hembusan angin. </h4>
      			</div>
            <div class ="MainBio">
              <section name="bio">
                <h2 class="Bio">Bio</h2>
                <p>
                    {{content}}
                </p>
              </section>
          </div>
        <section name="about_me">
          <div class = "List">
            <h2>List</h2>
            <ul>
                {% for ii in about_me %}
                <li> {{ ii }} </li>
                {% endfor %}
            </ul>
          </div>
        </section>
    	<section name="form">
        <div class = "MainForm">
            	<h2>Send Message</h2>
            	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
                	{% csrf_token %}
                	{{ message_form }}
                	<br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </section>
      </body>
        {% endblock %}
