{% extends "lab_9/layout/base.html" %}
{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
  </div>
    <div id="exTab1" class="container">
    <ul  class="nav nav-pills nav-justified">
    			<li class="active">
            <a  href="#drones" data-toggle="tab">Drones</a>
    			</li>
    			<li><a href="#soundcard" data-toggle="tab">Soundcard</a>
    			</li>
    			<li><a href="#optical" data-toggle="tab">Optical</a>
    			</li>
          </ul>
    </div>
    <div class="tab-content clearfix">
    			  <div class="tab-pane active" id="drones">
                {% include 'lab_9/tables/drones.html' %}
    				</div>
    				<div class="tab-pane" id="soundcard">
                {% include 'lab_9/tables/soundcard.html' %}
    				</div>
            <div class="tab-pane" id="optical">
              {% include 'lab_9/tables/optical.html' %}
    				</div>
    			</div>
    {% endblock %}
