<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Lab9</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Session
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'lab-9:index' %}">Login</a></li>
            <li><a href="{% url 'lab-9:profile' %}">Profile</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cookies
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'lab-9:cookie_login' %}">Login</a></li>
              <li><a href="{% url 'lab-9:cookie_profile' %}">Profile</a></li>
            </ul>
          </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if isSessionLogin and iscookieLogin %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Logout
          <span class="glyphicon glyphicon-log-out"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">Logout Session</a></li>
            <li><a href="{% url 'lab-9:cookie_clear' %}" onclick="return confirm('Keluar?')">Logout Cookies</a></li>
          </ul>
      </li>
      {% endif %}
      {% if isSessionLogin and not iscookieLogin %}
      <li><a href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">Logout<span class="glyphicon glyphicon-log-out"></span></a></li>
      {% endif %}
      {% if not isSessionLogin and iscookieLogin %}
      <li><a href="{% url 'lab-9:cookie_clear' %}" onclick="return confirm('Keluar?')">Logout<span class="glyphicon glyphicon-log-out"></span></a></li>
      {% endif %}
    </ul>
  </div>
</nav>
