{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
	position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 10%;
        margin-left: -50px; /* margin is -0.5 * dimension */
        margin-top: -25px;
	color: white;
	font-size: 20px;
	font-family: "georgia";
    }
    body{
	background-position: center;
	background-attachment: fixed;
	background-size: 1500px;
	background-repeat: no-repeat;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
<body background = "http://www.nmgncp.com/data/out/123/4616425-flat-wallpaper-hd.png">
</body>
{% endblock %}
