{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="description" content="LAB 10">
 <meta name="author" content="{{author}}">
 <!-- Bootstrap CSS -->
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
 <link href="{% static 'css/lab_10.css' %}" rel="stylesheet">
 <!-- JQuery dataTables CSS -->
 <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>
        {% block title %} Lab 10 By Bintang Ilham Syahputra {% endblock %}
    </title>
</head>
<body>
<header>
    {% include "lab_10/partials/header.html" %}
</header>
<content>
  <div class="container">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages" style="color: white">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px; color: white">
                  <span aria-hidden="true">&times;</span>
              </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer class = "footer-bs">
    {% block footer %}
    {% include "lab_10/partials/footer.html" %}
    {% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JQuery dataTables Script -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>
