<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link media="all" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<style>
    table, th, td {
        border: 1px solid white;
    }
    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }
</style>
<body style="background-color: lightgray">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-dark" style="background: transparent;">
		<a class="navbar-brand" href="#"><i class="fa fa-navicon" aria-hidden="true" style="font-size:30px;color:white; margin-right: 3px;"></i>Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-lg-start" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
		      <a class="nav-link" href="/lab-2/"><i class="fa fa-home" aria-hidden="true" style="font-size:20px;color:white;margin-right: 5px;"></i>Home</a>
              </li>
              <li class="nav-item" >
		      <a class="nav-link" href="/lab-2-addon/"><i class="fa fa-group" aria-hidden="true" style="font-size:20px;color:white;margin-right: 5px;"></i>About</a>
              </li>
              <li class="nav-item">
		      <a class="nav-link" href="/lab-3/"><i class="fa fa-calendar" aria-hidden="true" style="font-size:20px;color:white;margin-right: 5px;"></i>Diary</a>
              </li>
            </ul>
          </div>
	  <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
		      <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true" style="font-size:30px;color:white;margin-left:10px"></i></a>
              </li>
              <li class="nav-item" >
		      <a class="nav-link" href="https://gitlab.com/bintang_putra"><i class="fa fa-gitlab" aria-hidden="true" style="font-size:30px;color:white; margin-left:10px"></i></a>
              </li>
              <li class="nav-item">
		      <a class="nav-link" href="#"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:30px;color:white;margin-left:10px"></i></a>
              </li>
            </ul>
          </div>
	</nav>
    </div>
	</nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
